<html>
  <body>

    <p>
      <ul>
	<li><a href="http://localhost:8000/coviz/map/2020-05-10/cases/absolute/" target="map">2020-05-10 cases absolute</a></li>
	<li><a href="http://localhost:8000/coviz/map/2020-05-10/cases/relative/" target="map">2020-05-10 cases relative</a></li>
	<li><a href="http://localhost:8000/coviz/map/2020-05-10/deaths/absolute/" target="map">2020-05-10 deaths absolute</a></li>
	<li><a href="http://localhost:8000/coviz/map/2020-05-10/deaths/relative/" target="map">2020-05-10 deaths relative</a></li>
      </ul>
    </p>

  </body>
</html>
