<html>
  <head>
    <title>COVIZ - The COVID-19 Visualizer</title>
    <style>
      th, td {
	  padding: 10px;
	  vertical-align: top;
      }
      div {
	  font-family: Arial, Helvetica, sans-serif;
      }
      .helptext {
	  margin-top: 10px;
	  display: inline-block;
      }
    </style>
  </head>
  <body>

    <div style="float: left; width: 70%; margin: 10px;">

      {# FIXME: This is really ugly way to pass the URL! #}

      <iframe id="map"
	      name="map"
	      width="100%"
	      height="80%"
	      src="/coviz/map/{{ form.date.value }}/{{ form.dataset.value }}/{{ form.relativity.value}}/">
      </iframe>

    </div>

    <div style="float: left; width: 25%; margin: 10px;">

      <h1>COVIZ</h1>

      <p>
	Shown on the map are COVID-19 {{ form.relativity.value }}
	{{ form.dataset.value }} on {{ form.date.value }}.
	Use the controls below to explore the data.
      </p>

      <table>
	<form action="/coviz/" method="POST">
	  {% csrf_token %}
	  {{ form.as_table }}
	  <tr>
	    <td></td>
	    <td><input type="submit" value="Refresh map"></td>
	  </tr>
	</form>
      </table>

      <p>
	Click on a maker for each European country capital to see development
	of cases over the two preceding weeks.
      </p>

      <p>
	Data source: ECDC
      </p>

    </div>

  </body>
</html>
